src/force-app/main/default/flows/Processing_Contact_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Increment_Contact_Count</name>
        <label>Increment Contact Count</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Type_Records.Number_of_Contacts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact_Type_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Type_State_Combo_Exists</name>
        <label>Check if Type-State Combo Exists</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Increment_Contact_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_if_Type_State_Combo_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueTypeStateCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{!Get_Contact_Type_Records.Type__c} + &apos; - &apos; + {!Get_Contact_Type_Records.State__c} </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Contact_Count</targetReference>
            </connector>
            <label>Outcome 1 of Check if Type-State Combo Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Processing Contact Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Types</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact_Type_Record</name>
        <label>Create New Contact Type Record</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contacts__c</field>
            <value>
                <elementReference>Get_Contact_Type_Records.Number_of_Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Get_Contact_Type_Records.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Contact_Type_Records.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Type_Records</name>
        <label>Get Contact_Type Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Type_State_Combo_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Type__c</object>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Type_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>fetch the accountid</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueTypeStateCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
